.flex{
    display: flex
}

.in-center{
    justify-content: center;
}

.btn-container{
    margin: 0;
    padding: 0;
    width: 50;
    height: 30;
}

.stylised-btn{
    margin: 0;
    padding: 8;
    width: max-content;
    height: max-content;
}

